Package: skippy-xd
Version: 0.5-1
Section: base
Priority: optional
Architecture: amd64
Depends: libxcomposite1 (>= 1:0.4.3-2), libxrender1 (>= 1:0.9.6-2), libxfixes3 (>= 1:5.0-4), libxdamage1 (>= 1:1.1.3-2), libxft2 (>= 2.2.0-3ubuntu1)
Maintainer: Nick Watts <nick@resplect.com>
Installed-Size: 166
Homepage: http://www.resplect.com
Description: Skippy-XD
 Standalone composited window picker (displays all your windows at once, with live previews).
